In [1]:

import pandas as pd
import numpy as np


ccn = pd.read_csv('C:/Users/admin/Desktop/프로젝트 데이터/충남.csv',engine='python')

In [66]:
ccn

       지점 지점명          일시  평균기온(°C)  일강수량(mm)  평균 상대습도(%)  일최심신적설(cm)
0     129  서산  2018-01-01      -2.2       NaN        76.0         NaN
1     129  서산  2018-01-04      -3.9       NaN        62.5         NaN
2     129  서산  2018-01-05      -1.9       NaN        72.4         NaN
3     129  서산  2018-01-06      -2.8       NaN        71.3         NaN
4     129  서산  2018-01-07      -1.6       NaN        64.5         NaN
...   ...  ..         ...       ...       ...         ...         ...
4365  238  금산  2019-12-27      -0.5       NaN        65.1         NaN
4366  238  금산  2019-12-28      -1.8       NaN        74.8         NaN
4367  238  금산  2019-12-29       0.7       9.0        80.6         NaN
4368  238  금산  2019-12-30       3.8       3.4        86.6         NaN
4369  238  금산  2019-12-31      -5.0       NaN        54.6         NaN

[4370 rows x 7 columns]

In [68]:
ccn['일강수량(mm)'].fillna('0',inplace=True)
ccn['일강수량(mm)'].replace('0',0,inplace=True)

In [69]:
ccn['일최심신적설(cm)'].fillna('0',inplace=True)
ccn['일최심신적설(cm)'].replace('0',0,inplace=True)

In [75]:
ccn = ccn.groupby(by=['일시'], as_index=False).mean()

In [76]:
ccn.to_csv('충남_가.csv', index=False)

In [79]:
ccb = pd.read_csv('C:/Users/admin/Desktop/프로젝트 데이터/충북.csv',engine='python')
ccb['일강수량(mm)'].fillna('0',inplace=True)
ccb['일강수량(mm)'].replace('0',0,inplace=True)
ccb['일최심신적설(cm)'].fillna('0',inplace=True)
ccb['일최심신적설(cm)'].replace('0',0,inplace=True)
ccb = ccb.groupby(by=['일시'], as_index=False).mean()
ccb.to_csv('충북_가.csv', index=False)

In [80]:
dg = pd.read_csv('C:/Users/admin/Desktop/프로젝트 데이터/대구.csv',engine='python')
dg['일강수량(mm)'].fillna('0',inplace=True)
dg['일강수량(mm)'].replace('0',0,inplace=True)
dg['일최심신적설(cm)'].fillna('0',inplace=True)
dg['일최심신적설(cm)'].replace('0',0,inplace=True)
dg = dg.groupby(by=['일시'], as_index=False).mean()
dg.to_csv('대구_가.csv', index=False)

In [4]:
other = pd.read_csv('C:/Users/admin/Desktop/프로젝트 데이터/광주,대전,부산,세종,울산.csv',engine='python')
other['일강수량(mm)'].fillna('0',inplace=True)
other['일강수량(mm)'].replace('0',0,inplace=True)
other['일최심신적설(cm)'].fillna('0',inplace=True)
other['일최심신적설(cm)'].replace('0',0,inplace=True)
other = other.groupby(by=['일시'], as_index=False).mean()
other.to_csv('광주,대전,부산,세종,울산_가.csv', index=False)

In [5]:
other

             일시     지점  평균기온(°C)  일강수량(mm)  평균 상대습도(%)  일최심신적설(cm)
0    2018-01-01  150.0     1.600      0.00      44.150         0.0
1    2018-01-02  150.0     2.250      0.00      55.925         0.0
2    2018-01-03  150.0     0.325      0.00      39.750         0.0
3    2018-01-04  150.0     0.175      0.00      47.550         0.0
4    2018-01-05  150.0     1.975      0.20      51.400         0.0
..          ...    ...       ...       ...         ...         ...
725  2019-12-27  167.8     1.840      0.00      49.300         0.0
726  2019-12-28  167.8     2.200      0.00      49.920         0.0
727  2019-12-29  167.8     3.640      9.30      73.140         0.0
728  2019-12-30  167.8     6.460      1.42      82.840         0.0
729  2019-12-31  167.8    -2.700      0.00      42.340         0.0

[730 rows x 6 columns]

In [82]:
se = pd.read_csv('C:/Users/admin/Desktop/프로젝트 데이터/서울.csv',engine='python')
se['일강수량(mm)'].fillna('0',inplace=True)
se['일강수량(mm)'].replace('0',0,inplace=True)
se['일최심신적설(cm)'].fillna('0',inplace=True)
se['일최심신적설(cm)'].replace('0',0,inplace=True)
se = se.groupby(by=['일시'], as_index=False).mean()
se.to_csv('서울_가.csv', index=False)

In [21]:
gwm = pd.read_csv('C:/Users/admin/Desktop/프로젝트 데이터/미세먼지/강원도미세먼지.csv',engine='python')
gwm = gwm.groupby(by=['일시'], as_index=False).mean()
gwm = gwm.drop('지점',axis=1)
gwm.to_csv('강원도미세먼지_가.csv', index=False)

In [26]:
ggd = pd.read_csv('C:/Users/admin/Desktop/프로젝트 데이터/미세먼지/경기도미세먼지.csv',engine='python')
ggd = ggd.groupby(by=['일시'], as_index=False).mean()
ggd = ggd.drop('지점',axis=1)
ggd.to_csv('경기도미세먼지_가.csv', index=False)

In [31]:
gsn = pd.read_csv('C:/Users/admin/Desktop/프로젝트 데이터/미세먼지/경상남도미세먼지.csv',engine='python')
gsn = gsn.groupby(by=['일시'], as_index=False).mean()
gsn = gsn.drop('지점',axis=1)
gsn.to_csv('경상남도미세먼지_가.csv', index=False)

In [32]:
gsb = pd.read_csv('C:/Users/admin/Desktop/프로젝트 데이터/미세먼지/경상북도미세먼지.csv',engine='python')
gsb = gsb.groupby(by=['일시'], as_index=False).mean()
gsb = gsb.drop('지점',axis=1)
gsb.to_csv('경상북도미세먼지_가.csv', index=False)

In [33]:
gj = pd.read_csv('C:/Users/admin/Desktop/프로젝트 데이터/미세먼지/광주미세먼지.csv',engine='python')
gj = gj.groupby(by=['일시'], as_index=False).mean()
gj = gj.drop('지점',axis=1)
gj.to_csv('광주미세먼지_가.csv', index=False)

In [34]:
dg = pd.read_csv('C:/Users/admin/Desktop/프로젝트 데이터/미세먼지/대구미세먼지.csv',engine='python')
dg = dg.groupby(by=['일시'], as_index=False).mean()
dg = dg.drop('지점',axis=1)
dg.to_csv('대구미세먼지_가.csv', index=False)

In [35]:
dj = pd.read_csv('C:/Users/admin/Desktop/프로젝트 데이터/미세먼지/대전,세종미세먼지.csv',engine='python')
dj = dj.groupby(by=['일시'], as_index=False).mean()
dj = dj.drop('지점',axis=1)
dj.to_csv('대전,세종미세먼지_가.csv', index=False)

In [36]:
bs = pd.read_csv('C:/Users/admin/Desktop/프로젝트 데이터/미세먼지/부산미세먼지.csv',engine='python')
bs = bs.groupby(by=['일시'], as_index=False).mean()
bs = bs.drop('지점',axis=1)
bs.to_csv('부산미세먼지_가.csv', index=False)

In [38]:
se = pd.read_csv('C:/Users/admin/Desktop/프로젝트 데이터/미세먼지/원본/서울미세먼지.csv',engine='python')
se = se.groupby(by=['일시'], as_index=False).mean()
se = se.drop('지점',axis=1)
se.to_csv('서울미세먼지_가.csv', index=False)

In [45]:
gwm
ggdm = ggd
gsnm = gsn
gsbm = gsb
gjm = gj
dgm = dg
djm = dj
bsm = bs
sem = se

In [46]:
gwd = pd.read_csv('C:/Users/admin/Desktop/프로젝트 데이터/날씨/강원도_가.csv',engine='python')
ggd = pd.read_csv('C:/Users/admin/Desktop/프로젝트 데이터/날씨/경기도_가.csv',engine='python')
gsn = pd.read_csv('C:/Users/admin/Desktop/프로젝트 데이터/날씨/경상남도_가.csv',engine='python')
gsb = pd.read_csv('C:/Users/admin/Desktop/프로젝트 데이터/날씨/경상북도_가.csv',engine='python')
gj = pd.read_csv('C:/Users/admin/Desktop/프로젝트 데이터/날씨/광주_가.csv',engine='python')
dg = pd.read_csv('C:/Users/admin/Desktop/프로젝트 데이터/날씨/대구_가.csv',engine='python')
dj = pd.read_csv('C:/Users/admin/Desktop/프로젝트 데이터/날씨/대전,세종_가.csv',engine='python')
bs = pd.read_csv('C:/Users/admin/Desktop/프로젝트 데이터/날씨/부산_가.csv',engine='python')
se = pd.read_csv('C:/Users/admin/Desktop/프로젝트 데이터/날씨/서울_가.csv',engine='python')

In [77]:
ggdm.columns = ['date','dust']
gsnm.columns = ['date','dust']
gsbm.columns = ['date','dust']
gjm.columns = ['date','dust']
dgm.columns = ['date','dust']
djm.columns = ['date','dust']
bsm.columns = ['date','dust']
sem.columns = ['date','dust']

In [93]:
gwd.columns

Index(['date', 'a', 'tem', 'rain', 'hum', 'snow'], dtype='object')

In [126]:
gwd_t = pd.merge(gwd,gwm,left_on='date',right_on='date',how='left')
gwd_t = gwd_t.drop('a',axis=1)
gwd_t['dust'].fillna(method='ffill',inplace=True)
gwd_t.to_csv('강원도데이터.csv', index=False)

In [127]:
ggd_t = pd.merge(ggd,ggdm,left_on='date',right_on='date',how='left')
ggd_t = ggd_t.drop('a',axis=1)
ggd_t['dust'].fillna(method='ffill',inplace=True)
ggd_t.to_csv('경기도데이터.csv', index=False)

In [128]:
gsn_t = pd.merge(gsn,gsnm,left_on='date',right_on='date',how='left')
gsn_t = gsn_t.drop('a',axis=1)
gsn_t['dust'].fillna(method='ffill',inplace=True)
gsn_t.to_csv('경상남도데이터.csv', index=False)

In [129]:
gsb_t = pd.merge(gsb,gsbm,left_on='date',right_on='date',how='left')
gsb_t = gsb_t.drop('a',axis=1)
gsb_t['dust'].fillna(method='ffill',inplace=True)
gsb_t.to_csv('경상북도데이터.csv', index=False)

In [130]:
gj_t = pd.merge(gj,gjm,left_on='date',right_on='date',how='left')
gj_t = gj_t.drop('a',axis=1)
gj_t['dust'].fillna(method='ffill',inplace=True)
gj_t.to_csv('광주데이터.csv', index=False)

In [131]:
dg_t = pd.merge(dg,dgm,left_on='date',right_on='date',how='left')
dg_t = dg_t.drop('a',axis=1)
dg_t['dust'].fillna(method='ffill',inplace=True)
dg_t.to_csv('대구데이터.csv', index=False)

In [132]:
dj_t = pd.merge(dj,djm,left_on='date',right_on='date',how='left')
dj_t = dj_t.drop('a',axis=1)
dj_t['dust'].fillna(method='ffill',inplace=True)
dj_t.to_csv('대전,세종데이터.csv', index=False)

In [133]:
bs_t = pd.merge(bs,bsm,left_on='date',right_on='date',how='left')
bs_t = bs_t.drop('a',axis=1)
bs_t['dust'].fillna(method='ffill',inplace=True)
bs_t.to_csv('부산데이터.csv', index=False)

In [134]:
se_t = pd.merge(se,sem,left_on='date',right_on='date',how='left')
se_t = se_t.drop('a',axis=1)
se_t['dust'].fillna(method='ffill',inplace=True)
se_t.to_csv('서울데이터.csv', index=False)

In [ ]:
gwd_t
ggd_t
gsn_t
gsb_t
gj_t
dg_t
dj_t
bs_t
se_t